<h2 class="main">Última hora</h2>
<% if @main_featured %>

<div id="main_featured" class="degr_box">
	<h3><%= link_to @main_featured.name, highlight_path(@main_featured)%></h3>
	<p><%= l(@main_featured.date, :format => :default_date)%> - Fuente: <%= link_to @main_featured.source_name, @main_featured.source_url%></p>
	
	<h4><span class="category"><%= link_to @main_featured.categories.first.name, highlights_categories_path(@main_featured.categories.first.nicename)%></span></h4>
	<div id="main_featured_content"> 
		<% unless @main_featured.assets.blank?%>
		<div id="main_featured_image">
			<%= image_tag @main_featured.assets.first.url(:medium_size)%>
		</div>
		<% end %>
		<div id="main_featured_summary">
			<%=@main_featured.summary%>
		</div>
	</div>
	<div class="user_actions">
		<%= link_to pluralize(@main_featured.comments.published.size,'comentario'), highlight_path(@main_featured,:anchor => 'comments_box')%>

	</div>
</div>

<% end %>

<h2 class="main">Recomendaciones</h2>

<div id="featured" class="degr_box">
	<% @featureds.each do |highlight|%>
	<div class="small">
		<div id="featured_content"> 

			<% unless highlight.assets.blank?%>
			<div id="featured_image">
				<a href="<%= highlight_path(highlight)%>"><%= image_tag highlight.assets.first.url(:small_size)%></a>

			</div>
			<% end %>
			<div id="text">
				<h4><span class="category"><%= link_to highlight.categories.first.name, highlights_categories_path(highlight.categories.first.nicename) unless highlight.categories.blank?%>: </span><%= link_to highlight.name, highlight_path(highlight)%></h4>
				<%=highlight.excerpt%>
				<p><%= l(highlight.date, :format => :default_date)%> - Fuente: <%= link_to highlight.source_name, highlight.source_url%></p>
				
			</div>
		</div>
		<div class="user_actions">
			<%= link_to pluralize(highlight.comments.published.size,'comentario'), highlight_path(highlight,:anchor => 'comments_box')%>
		</div>

	</div>
	<% end %>
</div>

