<div class="highlight degr_box border_box">

	<h2 class="main"><%=  @highlight.name %></h2>
	<dl>
		<dt>Publicado en: </dt>
		<dd><%= category_links @highlight %></dd>
	</dl>

	<p class="date"><%=l(@highlight.date, :format => 'simple_date')%></p>

	<%= @highlight.body%>
	<% if @highlight.is_event?%>	
	<p class="date">Empieza el <%=l(@highlight.start_date, :format => 'simple_date')%> y acaba el <%=l(@highlight.end_date, :format => 'simple_date')%></p>
	<% end %>

</div>
<%= render :partial => "rating", :locals => {:highlight => @highlight}%>

	<%= render :partial => 'comments/index', :locals => {:resource => @highlight} %>
