<div class="highlight">

<h2 class="main"><%=  @highlight.name %></h2>
<dl>
        <dt>Publicado en: </dt>
        <dd><%= category_links @highlight %></dd>
</dl>

<p class="date"><%=l(@highlight.date, :format => 'simple_date')%></p>

<%= @highlight.body%>
<% if @highlight.is_event?%>	
	<p class="date">Empieza el <%=l(@highlight.start_date, :format => 'simple_date')%> y acaba el <%=l(@highlight.end_date, :format => 'simple_date')%></p>
<% end %>
<% if Settings.ratings.login_required == 0 || logged_in?%>
<div class="highlight-rating" id="highlight-rating-highlight-<%= @highlight.id %>">
	<span class="rate_post">Valora este contenido: </span>
	<ul class="star-rating inline-rating small-star">
	    <li style="width: <%= @highlight.rating_average_pct %>%;" 
            class="current-rating"><%= @highlight.rating_average %>/5</li>
        <% [[1, "one-star"], [2, "two-stars"], [3, "three-stars"], 
             [4, "four-stars"], [5, "five-stars"]].each do |num, html_class| %>
	      <li>
            <a onclick="$.ajax({dataType:'script', type:'POST', url:'<%= ratings_path(:rating => num, :id => @highlight.id, :klass => "Highlight")%>'}); return false;" class="<%= html_class %>" href="#"><%= num %></a>
          </li>
        <% end %>
	</ul>
</div>
<% end %>

</div>

<%= render :partial => 'comments/index', :locals => {:resource => @highlight} %>
