<div class="highlight">

<h2 class="main"><%=  @highlight.name %></h2>
<dl>
        <dt>Publicado en: </dt>
        <dd><%= category_links @highlight %></dd>
</dl>

<p class="date"><%=l(@highlight.date, :format => 'simple_date')%></p>

	<p><%= @highlight.body%></p>
<% if @highlight.is_event?%>	
	<p class="date">Empieza el <%=l(@highlight.start_date, :format => 'simple_date')%> y acaba el <%=l(@highlight.end_date, :format => 'simple_date')%></p>
<% end %>
</div>

<%= render :partial => 'comments/index', :locals => {:resource => @highlight} %>
