<ul>
		<% unless logged_in? %>
		<li <%= class_active('home')%>><%= link_to 'Inicio', root_path%></li>
		<li <%= class_active('')%>><a href="#">Noticias</a></li>
		<li <%= class_active('')%>><a href="#">Eventos</a></li>
		<li <%= class_active('advertisers')%>><%= link_to t('app.advertiser.title'), advertisers_path%></li>
		<li <%= class_active('')%>><a href="#">Contacto</a></li>
		
		<% else %>
			<li <%= class_active('banners')%>><%= link_to t('app.banner.title'), banners_path%></li>
			<li <%= class_active('advertisers')%>><%= link_to t('app.advertiser.title'), advertisers_path%></li>
			<li <%= class_active('highlights')%>><%= link_to t('app.highlight.title'), highlights_path%></li>
			<li <%= class_active('categories')%>><%= link_to t('app.category.title'), categories_path%></li>
			
		<% end%>
</ul>