<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transiti
	onal.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <% set_metadescription %>
  <% if @meta_description.present? -%>
    <meta name="description" content="<%= strip_tags(@meta_description) %>" />
  <% end %>
      <meta name='keywords' content='<%= set_keywords%>' />
  <title><%= get_title %></title>
	<base href="<%= Settings.url %>" />

	<% if asset_packager? %>
	<%= stylesheet_link_merged :base %>
	<% else %>
	<%= stylesheet_link_tag "ocr" %>

	<% end %>
	<!--[if lte IE 7]>
	<%= stylesheet_link_tag "ocr_ie" %>
	<![endif]-->
	<link rel="start" type="text/html" href="/" title="Página de inicio" />

	<%= render :partial => 'layouts/google_analytics' unless RAILS_ENV == "development" %>

</head>
<body id="<%= params[:controller] %>">


	<div id="container">
		<div id="wrapper" class="rounded">

			<%= render :partial => 'layouts/header' %>



			<div id="content">	    
				<div id="flmessages"></div>
				<%- if app_message? -%>
				<div class="flashmsg <%= app_message_type %>">
					<%= app_message %>
				</div>
				
	
				<form action="http://turismoconquense.com/resultados" id="cse-search-box">
				  <div>
				    <input type="hidden" name="cx" value="partner-pub-1843683943847304:pjeuf3lsggm" />
				    <input type="hidden" name="cof" value="FORID:10" />
				    <input type="hidden" name="ie" value="ISO-8859-1" />
				    <input type="text" name="q" size="31" />
				    <input type="submit" name="sa" value="Buscar" />
				  </div>
				</form>
				<script type="text/javascript" src="http://www.google.es/cse/brand?form=cse-search-box&amp;lang=es"></script>				<%- end %>
				<div id="sidebar_left">
					<%= get_secondary_menu %>
					<% unless logged_in? %>
					<%= render :partial => "layouts/left_sidebar"%>
					<% end %>
				</div>
				<div class="main_content <%=admin_class%>">
					<%= yield -%>
				</div>
				<div id="sidebar_right">
					<% unless logged_in? %>
					<%= render :partial => "layouts/right_sidebar"%>
					<% end %>
				</div>

			</div><!-- #content -->

			<% if !@bottom_banners.blank? && !logged_in?%>
			<div class="banner">	
				<% @bottom_banners.each do |banner|%>
				<div class="bottom"><%= link_to image_tag(banner.image(:body_medium)), banner.advertiser ? advertiser_path(banner.advertiser) : banner.url%></div>
				<% end %>
			</div>
			<% end %>

	</div><!-- #wrapper -->
	<%= render :partial => 'layouts/footer' %>
	
</div><!-- #container -->

	<% if asset_packager? %>
	<%= javascript_include_merged :base %>
	<% else %>
	<%= javascript_include_tag  'jquery',  'jquery-ui', 'jrails'-%>
	<% end %>

	<%= yield :tinymce -%>
	<%= yield :footer -%>


	<%= yield :tinymce_init %>
</body>
</html>

